:root {
    --location-input-height: 34px;
    --info-side-padding: 550px;
    --background-color: rgba(226, 219, 219, 0.2);
    --compass-size: 75px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: none;
    padding: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    margin: 0;
    height: 100vh;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 /2;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    padding-left: 1rem;
    background-color: #f9cdf4;

}

h1 {
    margin-top: 12px;
    padding: 0;
    color: black;
    text-align: center;
}

#main-container {
    display: grid;
    grid-template-rows: 75px 2fr 1fr 1fr;
    grid-template-columns: 150px 1fr 150px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

#info-container {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-column: 2 / 3;
    grid-row: 2/3;
}


#weather-icon {
    width: 150px;
}

#condition-text {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 38px;
}

#city-info {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}


.city-details {
    font-size: 58px;
}

#country {
    font-size: 34px;
    margin-bottom: 4px;
}

#location-info {
    width: 100%;
}

#time {
    width: 100%;
}

#weather-conditions {
    grid-row: 1 / 3;
    grid-column: -2 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

#compass-container {
    aspect-ratio: 1;
    width: var(--compass-size);
    margin-bottom: auto;
}

#compass-body {
    position: absolute;
    opacity: .3;
    width: var(--compass-size);

}


#wind-dir-icon {
    position: relative;
    z-index: 1;
    width: var(--compass-size);
}

#compass-wind-dir-text {
    width: var(--compass-size);
    text-align: center;
    font-size: 28px;
}

#weather-info {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}


.weather-details {
    font-size: 38px;
}

#forecast {
    display: flex;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3;

}

#forecast>* {
    margin-right: 3rem;
}

#day-0 {
    font-size: 20px;
    font-weight: 500;
}

#input-container {
    grid-row: 4 / 5;
    grid-column: 2 / 3;


    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 0;
    justify-self: center;
    align-self: center;
}

#radio-container {
    display: flex;
    justify-content: center;
}

#radio-celcius,
#radio-fahrenheit {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

#ch-bar {
    display: flex;
    align-items: center;
}

input {
    border-radius: 25px;
    border: 1px solid black;
    padding: 0 10px;
}

input::placeholder {
    margin-left: 20px;
}

button {
    margin-left: 10px;
    border-radius: 15px;
    border: solid 1px;
    width: 90px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding-top: auto;
    height: 2rem;
    background-color: rgba(34, 65, 92, 0.4);

}

#link-back {
    color: rgb(55, 55, 62);
}


#input-location {
    height: var(--location-input-height);
    width: 190px;
}

#submit-location {
    height: var(--location-input-height);
    aspect-ratio: 5/2;
}