:root {
    --location-input-height: 24px;
    --info-side-padding: 550px;
    --background-color: rgb(111, 183, 247, 0.2);
    --compass-size: 75px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: none;
    padding: none;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../images/backdrop.jpg');
    background-size: 100%;
    margin: 0;
    height: 100vh;
}

header {
    height: 94px;
    width: 100vw;
    font-size: 26px;
    background-color: var(--background-color);

}

h1 {
    margin-top: 12px;
    padding: 0;
    color: black;
    text-align: center;
}

#main-container {
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

#info-container {
    display: flex;
    align-items: center;
    flex: 3 1 0;
    width: 75%;
    align-items: center;
    /* padding: 0 var(--info-side-padding); */
}

#info-container>* {
    width: calc(100%/3);
    height: 100%;
}

#weather-icon {
    width: 150px;
}

#condition-text {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 38px;
}

#city-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.city-details {
    font-size: 58px;
}

#country {
    font-size: 34px;
    margin-bottom: 4px;
}

#weather-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

#compass-container {
    aspect-ratio: 1;
    width: var(--compass-size);
    margin-bottom: auto;
}

#compass-body {
    position: absolute;
    opacity: .3;
    width: var(--compass-size);

}


#wind-dir-icon {
    position: relative;
    z-index: 1;
    width: var(--compass-size);
}

#compass-wind-dir-text {
    width: var(--compass-size);
    text-align: center;
    font-size: 28px;
}

#weather-info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 45%;
    height: 93%;
    margin-right: 3%;
    padding: 20px;
    background-color: rgb(51, 48, 202, .2);
    border-radius: 20px;
}

.weather-details {
    font-size: 20px;
}

#graph {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Pushkin_population_history.svg/400px-Pushkin_population_history.svg.png);
    height: calc(100%/2);
    width: 100%;
}


#input-container {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    padding: 0 var(--info-side-padding);
}

#radio-container {
    display: flex;
}

#radio-celcius,
#radio-fahrenheit {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

#ch-bar {
    display: flex;
    align-items: center;
}

input {
    border-radius: 25px;
    border: 1px solid black;
    padding: 0 10px;
}

input::placeholder {
    margin-left: 20px;
}

button {
    margin-left: 10px;
    border-radius: 15px;
    border: solid 1px;
    width: 75px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding-top: auto;
    height: 2rem;
    background-color: rgba(34, 65, 92, 0.4);

}

#link-back {
    color: rgb(176, 175, 241);
}


#input-location {
    height: var(--location-input-height);
    width: 150px;
}

#submit-location {
    height: var(--location-input-height);
    aspect-ratio: 5/2;
}